@charset "UTF-8";
#cusList {
	position: fixed;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width:500px;
	height:500px;
	top:200px;
	left:198px;
	padding-top:20px;
	background-color: white;
}
#cusEdit {
	position:fixed;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width:300px;
	height: 500px;
	top:200px;
	left:715px;
	padding-top:20px;
	background-color: white;
}
#cusInfo{
	width:100%;
	height:60%;
}
#cusBtn{
	width:100%;
	height:30%;
}
.customer{
	width:100%;
	height:30px;
}
.cusInfo{
	float:left;
	width:30%;
}
